/* GENERAL PAGE OUTLOOK*/
*
{
Background-Color:rgb(240, 243, 243) ;
font-style:montserrat;
margin:0px;
overflow: visible;
flex-wrap: wrap;
padding:0px;
}

/* NAVIGATION BAR*/
 #brand
 {

font-size: 25px;
margin: 0px;
padding-right:40px;
font-size: 25px;
margin: 0px;
padding-right:50px;
 }

.member
{
  background-color:#23A6F0 ; 
  height:40px;
}


.navigation
{
     display:flex;
     justify-content: first baseline;
     justify-content: space-evenly;
      margin:0px;
    margin: 0px;
    padding:0px;
}

ul li
{
    display:inline;
   font-display:rgb(240, 243, 243) ;
   font-family:montserrat;

}



.links
{

   display: flex;
    margin:0px;
    padding-right: 20px;
    width: auto;
    list-style:none;
    font-weight:bold ;
    flex-wrap:wrap;
    flex:content;
    justify-content: space-between;
    justify-content: space-evenly;

}



 .firstimage
 {
 
    overflow:visible;
     margin: 0px;
     border:0px;
     overflow: visible;
     border:0px;
     padding-top:0px;
 
 }


.best
 {
     
      font-size: 33px;
      justify-content: center;
     
 }
    
 .small
 {
     margin-top:0px;
     margin-top: 20px;
     padding-left: 500px;
     justify-content: center;
 }

 .get
 {
     background-color:#23A6F0; 
     height:40px;
     border-radius: 10px;
     
     
 }

 .learn
 {
     background-color:none; 
     height:40px; 
     border-radius: 10px;
 }


#firstbutton
{
    
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    
}

.users
{
    display:flex;
    justify-content: space-between;
}

#icons
{
  display:flex;
    justify-content: space-between;  
}

#maps
{
    float:right;
    size-adjust: 15px;
}

.blue
{
    background-color: blue;
    margin:0px;
    padding:0px;
}

#contact
{
    background-color: blue;
    height:50px;
    width: 100px;
    position:absolute;
}

#user1
{
    border-radius: 5px;
    box-sizing:border-box;
    box-shadow: #23A6F0;
}    
 
#block2
{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:auto;
    padding-bottom: 80px;
    padding-top:80px;
}


#block3
{
    display:flex;
     padding-bottom: 80px;
    padding-top:80px;
}

#industry
{
    font-size: 33px;
    align-items: center;
    justify-content: center;
}