/* GENERAL PAGE OUTLOOK*/
*
{
Background-Color:rgb(240, 243, 243) ;
font:montserrat;
margin:0px;
overflow: visible;
flex-wrap: wrap;
padding:0px;
}

/* NAVIGATION BAR*/
 #brand
 {

font-size: 25px;
margin: 0px;
padding-right:40px;

 }

.member
{
  background-color:#23A6F0 ; 
  height:40px;
}

#navigation
{
    justify-content:space-evenly;
    flex: auto;
    margin:0px;
    display: flex;
    margin: 0px;
    padding:0px;
}

ul li
{
    display:inline;
   font-display:rgb(240, 243, 243) ;
   font:montserrat;
}




 .firstimage
 {
 
    overflow:visible;
     margin: 0px;
     border:0px;
     overflow: visible;
 
 }


.best
 {
     margin-bottom:40px;
     font-size: 33px;
   
     padding-left: 500px;
     justify-content: "center";
     display: inline-flex;
 }
    
 .small
 {
     margin-top:0px;
     padding-left: 500px;
     justify-content: center;
 }

 .get
 {
     background-color:#23A6F0; 
     height:40px;
     border-radius: 10px;
     
     
 }

 .learn
 {
     background-color:none; 
     height:40px; 
     border-radius: 10px;
 }


#firstbutton
{
    display: flex;
    align-items: center;
    justify-content: center;
    float: "center";
}
 
 